PORT=10000
DATABASE_URL=postgresql://user:password@host:5432/dbname
WORKER_API_KEY=WAK-EA328FEDEDC3AB55DE03B84B90E1F03B7C20BA5E77AF7C5A
ADMIN_KEY=ADM-0F697A95B6F9C064662F39ABB9E5C6DBAFE25236DD45DB2B
TOTP_SECRET=YYUACPGKAASUNKZTEAWMGCDSLSAA
NODE_ENV=production
